<!DOCTYPE html>
<html ng-app="appcontroller">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Entregable 1</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="libs/controller.js"></script>
</head>

<body ng-controller="controlador">

    <div class="container">
        <div class="row justify-content-md-center" ng-hide="mostrar!=0">
            <div class="card col-md-3 border" style="width: 18rem;" ng-click="accion(1)">
                <img src="img/agregar.png" alt="agregar" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Agregar Registro</h5>
                </div>
            </div>

            <div class="card col-md-3 border" style="width: 18rem;" ng-click="accion(2)">
                <img src="img/lista.png" alt="agregar" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Ver Registros</h5>
                </div>
            </div>
        </div>

        <form ng-show="mostrar==1 || mostrar==3" class="row justify-content-md-center">
            <div class="form-group">
                <label class="alert alert-primary col-md-12">{{mensaje}}</label></br>
                <div class="row">
                    <div class="input-group col-md-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text " id="">Nombre</span>
                        </div>
                        <input type="text" class="form-control" ng-model="nuevo.Nombre">
                    </div>

                    <div class="input-group col-md-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text " id="">Apellidos:</span>
                        </div>
                        <input type="text" class="form-control" ng-model="nuevo.Apellidos">
                    </div>
                    <div class="input-group col-md-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text " id="">Genero:</span>
                        </div>
                        <input type="radio" class="form-control" name="genero" ng-model="nuevo.genero" value="Masculino" />Masculino
                        <input type="radio" class="form-control" name="genero" ng-model="nuevo.genero" value="Femenino" />Femenino
                    </div>

                    <div class="input-group col-md-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text " id="">Correo:</span>
                        </div>
                        <input type="email" class="form-control" ng-model="nuevo.Correo">
                    </div>

                    <div class="input-group col-md-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text " id="">Fecha de Nacimiento:</span>
                        </div>
                        <input type="date" class="form-control" ng-model="nuevo.Fecha_n">
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-md-5" ng-show="mostrar==1">
                    <button type="button"  ng-click="guardar()" class="btn btn-primary">Guardar</button>
                </div>
                <div class="col-md-5" ng-show="mostrar==3">
                        <button type="button"  ng-click="actualizar()" class="btn btn-primary">Actualizar</button>
                    </div>
                <div class="col-md-5">
                    <button type="button" ng-click="cancelar()" class="btn btn-primary">Cancelar</button>
                </div>
            </div>
        </form>

        <div ng-show="mostrar==2">
            <table class="table table-striped table-dark">
                <thead class="thead-dark">
                    <th>Nombre</th>
                    <th>apellidos</th>
                    <th>Genero</th>
                    <th>fecha_nacimiento</th>
                    <th>Correo</th>
                    <th><button type="button" ng-click="cancelar()" class="btn btn-primary">Regresar</button></th>
                </thead>
                <tr ng-repeat="row in registros| orderBy:'Nombre'">
                    <td>{{row.Nombre}}</td>
                    <td>{{row.Apellidos}}</td>
                    <td>{{row.genero}}</td>
                    <td>{{row.Fecha_n|date:"dd/MM/yyyy"}}</td>
                    <td>{{row.Correo}}</td>
                    <td><img src="img/delete.png" style="max-width: 80px;" alt="Borrar" ng-click="borrar(row.id)"></button></td>
                    <td><img  src="img/edit-flat.png" style="max-width: 80px"  ng-click="editar(row.id)"/></td>
                </tr>
            </table>
        </div>


    </div>
</body>

</html>